.header_container {
  background-color: red;
  height: 70px;
  width: 100vw;
  background: linear-gradient(
    to left,
    #16192b,
    #16192b 50%,
    #373d69 75%,
    #373d69 75%
  );
  @include displayCenter(center, center);
  box-shadow: rgba(241, 238, 238, 0.24) 0px 3px 8px !important;
  .header_wrapper {
    position: relative;
    width: 1320px;
    height: 100%;
    color: $white_color;
    @include displayCenter(center, space-between);
    font-size: 18px;
    .header_middle {
      @include displayCenter(center, center);
      gap: 30px;
      a {
        text-decoration: none;
        color: $white_color;
      }
    }
    .header_right {
      background: linear-gradient(
        to left,
        #2177fe,
        #2177fe 50%,
        #21b2fe 75%,
        #21b2fe 75%
      );
      padding: 5px 35px;
      border-radius: 40px;
    }
  }
}

@media screen and (max-width: $md) {
  .header_container {
    padding: 1rem;
    .header_wrapper {
      position: relative;
      .header_middle {
        display: none;
      }
      .menu_btn {
        position: absolute;
        right: 0;
        font-size: 25px;
      }
      .header_right {
        margin-right: 50px;
      }
    }
  }
}

.header_middle_mobile_device {
  position: absolute;
  top: 52px;
  right: 0;
  display: block;
  width: 300px;
  height: 400px;
  @include displayCenter(center, center);
  gap: 30px;
  flex-direction: column;
  background: linear-gradient(
    to left,
    #16192b,
    #16192b 50%,
    #373d69 75%,
    #373d69 75%
  );
  a {
    text-decoration: none;
    color: $white_color;
  }
}
